/* p {
            font-family: Arial, sans-serif;
            color: #333;
        
            font-size: 30px;
        }

.demo {
            font-family: 'Courier New', Courier, monospace;
            color: blue;
        
            font-size: 20px; }
        
        
.demo1{
            font-family: 'Times New Roman', Times, serif;
            color: pink;
        
            font-size: 16px;
        }
.container { 
    background-color: lightgrey;
    height: 300px;
    width: 50%;
}    

.parent{

   background-color: yellow;
   height:100%;
   width: 100%; 
} */

*{ 

    margin: 0;
    padding: 0;
}
/* .parent{
   
    position: relative;
    height:300px;
    width:200px;
     background-color: yellow;
} */
/* 
.child{
  position:absolute;
    background-color: red;
    height:40px;
    width:500px;
} */


.parent{ 

     display: flex;
     justify-content: center;
     align-items: center;
    background-color: yellowgreen;
    height: 200px;
    width: 200px;
}


.child1{ 

    background-color: red;
    height: 40px;
    width: 40px;
}

.child2{ 

    background-color: blue;
    height: 50px;
    width: 50px;
}

.child3{ 

    background-color: black;
    height: 40px;
    width: 40px;
}


button:hover{

    background-color: black;
}